<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="addClientForm" (ngSubmit)="submitNewClient()">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Client Information</div>
            <div class="text-secondary">A unique name is required</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- Name -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Name</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                    <input [formControlName]="'name'" matInput>
                </mat-form-field>
            </div>

            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Address</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                    <input [formControlName]="'address'" matInput>
                </mat-form-field>
            </div>

            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Email</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                    <input [formControlName]="'email'" matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Phone</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                    <input [formControlName]="'phone_number'" matInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button class="mr-4" mat-flat-button type="submit" [color]="'primary'">Submit
            </button>

            <button mat-flat-button type="button" [color]="'warn'" (click)="cancel()">
                Cancel
            </button>
        </div>
    </form>

</div>